@font-face {
    font-family: "Bahnschrift";
    src: url('../fonts/Bahnschrift.ttf') format(truetype);
   font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: "Novoposelensky";
    src: url('../fonts/Novoposelensky.otf') format(truetype);
   font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: "PhilosopherRegular";
    src: url('../fonts/Philosopher-Regular.ttf') format(truetype);
   font-weight: 400;
    font-style: normal; 
}